
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="success-page">
    <div class="container">

    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2><br>
        {% if response.RESPCODE == '01' %}
        <h5>ORDER SUCCESS</h5>
        <h2>Payment Successful !</h2>
  <p>We are delighted to inform you that we received your payment.</p>
 <p>Your Transaction details are :<br>
 Transaction ID : {{response.TXNID}}<br>Transaction Date : {{response.TXNDATE}}<br>Transaction Amount : {{response.TXNAMOUNT}}<br></p>
  <a href="/shop">Continue Shopping</a>
        {% else %}
        <h5>ORDER FAILURE</h5>
        {% endif%}

    </div>

    </div>
</div>
</body>
</html>

{% endblock %}
{% block js %}
<script>


</script>
{% endblock %}